# Byte-compiled / C extensions
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
env/

# Models & Data
models/
dataset/
wandb/
lightning_logs/
*.ckpt
*.h5

# Logs
logs/
*.log

# Docker
.dockerignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

